.manage-schedule-container {
    .m-s-title {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;

        // .manage-schedule.title {}
    }

    .container {
        .pick-hour-container {
            // height: 150px;
            // border: solid 1px red;
            margin: 20px 0;
            // border: solid 1px red;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            button {
                padding: 5px 15px;
                border: solid 1px black;
            }

        }

        .btn-schedule {
            &.active {
                background-color: orange;
                border-radius: 10px;
            }

            // &:hover {
            //     background-color: rgb(220, 143, 0);
            //     border-radius: 15px;
            // }

        }

        .btn-save-schedule {
            margin: 12px;
            // margin-top: 20px;
            // padding: 10px;
        }
    }
}
