.slick-prev {
    border: 1px solid #d7d7d7 !important;
    z-index: 2;
    width: 48px !important;
    height: 44px !important;
    left: -10px !important;
    background: white !important;

    &:hover {
        background-color: #f2f2f2 !important;
    }
}

.slick-prev::before,
.slick-next::before {}

.slick-next {
    border: 1px solid #d7d7d7 !important;
    z-index: 2;
    width: 48px !important;
    height: 44px !important;
    right: -10px !important;
    background: white !important;

    &:hover {
        background-color: #f2f2f2 !important;
    }
}

.slick-disable {
    display: none !important;
}

.section-share {
    margin: 10px;

    &.section-specialty {
        .section-container {
            background-color: #e8e8e8;
        }
    }

    &.section-medical-facility {
        .section-container {
            background-color: #f3f3f3;
        }
    }

    &.section-outstanding-doctor {
        .section-container {
            background-color: #e8e8e8;
        }
    }

    &.section-handbook {
        .section-container {
            background-color: #f3f3f3;
        }
    }

    &.section-about {
        height: 550px !important;
    }

    .section-body {
        .section-customize {
            text-align: center;

            .bg-image {
                display: inline-block;
                border-radius: 10px;
                width: 278px;
                height: 150px;
                background-position: center center;
                background-size: cover;
                background-color: #eee;
                border: 1px solid black;


                &.section-specialty {
                    background-image: url('../../assets/specialty/co-xuong-khop.jpeg');
                }

                &.section-specialty2 {
                    background-image: url('../../assets/specialty/tim-mach.jpg');
                }

                &.section-specialty3 {
                    background-image: url('../../assets/specialty/than-kinh.jpg');
                }

                &.section-specialty4 {
                    background-image: url('../../assets/specialty/benh-viem-gan.jpg');
                }

                &.section-specialty5 {
                    background-image: url('../../assets/specialty/than-kinh.jpg');
                }

                &.section-medical-facility {
                    background-image: url('../../assets/medical-facility/benh-vien-thu-cuc.jpg');
                }

                &.section-outstanding-doctor {
                    // background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.png');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.section-handbook {
                    background-image: url('../../assets/handbook/camnang.png');
                }
            }


        }
    }
}

.section-share {
    // height: 330px;
    // margin: 0 50px;

    .section-container {
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;

        .section-header {
            // height: 100px;
            // margin-bottom: 30px;
            // padding-top: 30px;
            margin: 5px 0px 10px 0px;

            .title-section {
                font-size: 22px;
                font-weight: 600px;
            }

            .button-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                border-radius: 5px;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                    border-radius: 10px;
                }
            }
        }
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .section-customize {
        padding: 5px;
        cursor: pointer;

        .customize-boder {
            border: 1px solid orange;
            border-radius: 10px;
            padding: 20px;
        }
    }
}

.home-footer {
    text-align: center;
    padding-top: 8px;

    a {
        text-decoration: unset;
    }
}

.section-about {
    padding: 0 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    .section-about-header {
        padding: 20px 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
                font-style: italic;
                padding: 15px;
            }
        }
    }
}