.home-header-container {
    width: 100%;
    height: 60px;

    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;

    border-bottom: solid 1px black;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            i {
                font-size: 25px;
                color: grey;
            }

            .parent-header-logo {
                width: 70%;
                height: 100%;
                padding: 10px;

                .header-logo {
                    width: 100%;
                    height: 100%;
                    background: url(../../assets/logo.svg) center center no-repeat;
                }
            }
        }

        .center-content {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {

                .subs-title {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 15px;
                margin-right: 5px;
            }

            .language-vi {
                opacity: 0.2;
                margin: 0 10px;
                cursor: pointer;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                opacity: 0.2;
                margin: 0 10px;
                cursor: pointer;

                &.active {
                    opacity: 1;

                    span {
                        color: blue;
                    }

                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.home-header-banner {
    background: url(../../assets/background.jpeg);
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    .content-up {
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(225, 225, 225, 0.1));
        height: 65%;
        padding-top: 15px;

        .title1 {
            text-align: center;
            color: white;
            text-shadow: 1px 1px 1px #333;
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 5px;
        }

        .title2 {
            text-align: center;
            color: white;
            text-shadow: 1px 1px 1px #333;
            font-size: 30px;
            margin-bottom: 15px;
        }

        .search {
            background-color: #f7d800;
            width: fit-content;
            // display: flex;
            // justify-content: center;
            text-align: center;
            padding: 10px;
            margin: 0 auto;
            border-radius: 25px;
        }

        i {
            padding: 0 15px;
        }

        input {
            width: 370px;
            height: 30px;
            background: transparent;
            border: none;
            outline: none;
        }
    }

    .content-down {
        height: 35%;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            text-align: center;
            display: flex;
            flex-direction: raw;
            justify-content: center;
            gap: 50px;

            .option-child {
                width: 100px;

                .icon-child {
                    background-color: white;
                    border-radius: 50%;
                    margin: auto;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        color: #49bce2;
                        font-size: 20px;
                    }

                }

                .text-child {
                    font-size: 17px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }
}