@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .language-vi{
        padding-right: 15px;
        padding-left: 10px;
        cursor: pointer;
        
        &.active{
            color: rgb(0, 208, 255);
            opacity: 1;
        }

        &:hover{
            
        }
    }

    .language-en{
        padding-right: 15px;
        padding-left: 10px;
        cursor: pointer;
        
        &.active{
            color: rgb(0, 255, 0);
            opacity: 1;
        }

        &:hover{
            
        }
    }

    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
}